@keyframes perspec {
    0% {
        opacity: 0.2;
        /* filter: blur(10px); */
        transform: perspective(400px) rotateX(1deg);
    }
    100% {
        opacity: 1;
        /* filter: blur(0px); */
        transform: perspective(400px) rotateX(0deg);
    }
}

* {
    animation: perspec 0.4s ease forwards;
}

#mouse-follower {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    background-color: rgba(255, 0, 0, 0.24); /* White with some transparency */
    border-top-right-radius: 70%;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    pointer-events: none; /* Ignore mouse events on the blob itself */
    z-index: 9999; /* Ensure it's on top */
    filter: blur(2px);
    transition: top 0.1s ease-out, left 0.1s ease-out, opacity 0.2s; /* Add this */
    will-change: top, left, opacity; /* Add this */
    opacity: 0; /* Start hidden */
    backdrop-filter: blur(1px);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.301);
    transform: translate(-50%, -50%);
}

/* todo: add subtle move up animattion with transtion */